<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Uge 1</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="u-margin-bottom-2">Uge 1</h1>
      <div class="content">
        <h2 class="sub-header">JavaScript basics</h2>
        <hr class="hr" />
        <p class="sub-sub-header">Callbacks</p>
        <p class="u-margin-bottom-2">
          A callback is a function that is being passed as a parameter into
          another function which is then executed inside that function.
          Callbacks are often used in asynchronous programming.
        </p>
        <p class="sub-sub-header">Functional vs OOP</p>
        <p class="u-margin-bottom-2">
          There are a lot of functional methods in modern JavaScript that have
          advandages over OOP methods. E.g. map, filter, reduce instead of
          foreach, for loops and while loops. For a method to be considered
          functional it cannot have any sideeffects, and it has to return
          something (meaning it cannot return void).
        </p>
        <div class="snippet u-margin-bottom-2">
            <img src="/assets/functional_snippet.JPG" alt="code snippet">
        </div>
      </div>
      <div class="navigation">
        <button class="btn u-margin-bottom-2 btn-next" onclick="redirectToNextPage()">Next week</button>
      </div>
     
    </div>
    <script src="../js/script.js" async defer></script>
  </body>
</html>
