<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Uge 3</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="u-margin-bottom-2">Uge 3</h1>
      <div class="content">
        <h2 class="sub-header">API basics</h2>
        <hr class="hr" />
        <p class="sub-sub-header">http methods</p>
        <p class="u-margin-bottom-2">
          http is a protocol that defines communication between a webserver and
          a client. The http protocol defines the following request as allowed
          requests.
          <div class="u-margin-bottom-2">
            <li>GET</li>
            <li>POST</li>
            <li>PUT</li>
            <li>DELETE</li>
            <li>PATCH</li>
          </div>

          It is good practice to use the http request as they are defined in the
          http protocol. A delete request should delete something on the server,
          a get request should return something from the server and so on.
        </p>
        <p class="sub-sub-header"></p>
        <p class="u-margin-bottom-2">

        </p>
        <p class="sub-sub-header"></p>
        <p class="u-margin-bottom-2"></p>
        <div class="snippet u-margin-bottom-2"></div>
        <p class="u-margin-bottom-2"></p>

        <div class="snippet u-margin-bottom-2"></div>
        <p class="u-margin-bottom-2"></p>
      </div>
      <div class="navigation">
        <button class="btn u-margin-bottom-2 btn-prev" onclick="redirectToPrevPage()">Previous week</button>
        <button class="btn u-margin-bottom-2 btn-next" onclick="redirectToNextPage()">Next week</button>
      </div>
    </div>
    <script src="../js/script.js" async defer></script>
  </body>
</html>
