<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Uge 4</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="u-margin-bottom-2">Uge 4</h1>
      <div class="content">
        <h2 class="sub-header">Frontend</h2>
        <hr class="hr" />
        <p class="sub-sub-header">CSS</p>
        <p class="u-margin-bottom-2">
          CSS is the technology that makes a website come to life. CSS stands
          for "cascading stylesheet" which means that it is CSS that handles the
          layout of a page. CSS uses selectors (html classes, id's, elements) to
          define a set of rules for each. The layout that is ultimately shown on
          a webpage is determined by the specicity of the rules. The more
          specific the rules are the higher priority will it also have. E.g.
          will a class selector have higher priority than a element selector
          because the class is more specific.
        </p>
        <p class="sub-sub-header">jQuery</p>
        <p class="u-margin-bottom-2">
          jQuery is widely use to make a website more interactive, but its
          popularity is slowly declining. That is because CSS have greatly
          improve over the last 10 years, so today it's possible to make
          animations and effects purely in CSS. Furthermore, the DOM API have
          greatly improved and the new fetch API have simplified API calls a
          lot, which means that there is almost no need for jquery anymore.
        </p>
        <p class="sub-sub-header"></p>
        <p class="u-margin-bottom-2"></p>
        <div class="snippet u-margin-bottom-2"></div>
        <p class="u-margin-bottom-2"></p>

        <div class="snippet u-margin-bottom-2"></div>
        <p class="u-margin-bottom-2"></p>
      </div>
      <div class="navigation">
        <button class="btn u-margin-bottom-2 btn-prev" onclick="redirectToPrevPage()">Previous week</button>
        <button class="btn u-margin-bottom-2 btn-next" onclick="redirectToNextPage()">Next week</button>
      </div>
    </div>
    <script src="../js/script.js" async defer></script>
  </body>
</html>
