<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Uge 5</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="u-margin-bottom-2">Uge 5</h1>
      <div class="content">
        <h2 class="sub-header">More frontend</h2>
        <hr class="hr" />
        <p class="sub-sub-header">jQuery</p>
        <p class="u-margin-bottom-2">
    
        </p>
        <p class="sub-sub-header"></p>
        <p class="u-margin-bottom-2">
         
        </p>
        <p class="sub-sub-header"></p>
        <p class="u-margin-bottom-2">
     
        </p>
        <div class="snippet u-margin-bottom-2">
    
        </div>
        <p class="u-margin-bottom-2">

        </p>

        <div class="snippet u-margin-bottom-2">
         
        </div>
        <p class="u-margin-bottom-2">
   
        </p>
      </div>
      <div class="navigation">
        <button class="btn u-margin-bottom-2 btn-prev" onclick="redirectToPrevPage()">Previous week</button>
        <button class="btn u-margin-bottom-2 btn-next" onclick="redirectToNextPage()">Next week</button>
      </div>
    </div>
    <script src="../js/script.js" async defer></script>
  </body>
</html>
