<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Uge 6</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="u-margin-bottom-2">Uge 6</h1>
      <div class="content">
        <h2 class="sub-header">BONUS</h2>
        <hr class="hr" />
        <p class="sub-sub-header">SCSS</p>
        <p class="u-margin-bottom-2">
          SCSS is a CSS preprocessor that makes it easier to write maintainable
          CSS code. One of the advantages is that SCSS makes it possible to
          seperate your code into different files and then import them into one
          main file instead of having it all in one long CSS file there could be
          thousands of lines of code. SCSS is compiled to CSS so it's just a way to
          better organize your CSS code. SCSS also make it possible to use
          variables which makes it easy to make different themes in your
          application. Another feature of SCSS is that you can nest your
          selectors inside eachother which makes it a lot easier to read and
          maintain.
        </p>
        <p class="sub-sub-header"></p>
        <p class="u-margin-bottom-2"></p>
        <p class="sub-sub-header"></p>
        <p class="u-margin-bottom-2"></p>
        <div class="snippet u-margin-bottom-2"></div>
        <p class="u-margin-bottom-2"></p>

        <div class="snippet u-margin-bottom-2"></div>
        <p class="u-margin-bottom-2"></p>
      </div>
      <div class="navigation">
        <button
          class="btn u-margin-bottom-2 btn-prev"
          onclick="redirectToPrevPage()"
        >
          Previous week
        </button>
      </div>
    </div>
    <script src="../js/script.js" async defer></script>
  </body>
</html>
